# SPDX-License-Identifier: GPL-2.0-only
config XIAOMI_MI_MEMORY
	tristate "Xiaomi memory diagnostics"
	depends on OF && SCSI
	help
	  Xiaomi DRAM and UFS identification, descriptor and health reporting.
